# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Vercel
.vercel

# Jupyter Notebooks
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Virtual Environment
venv/
ENV/

# VS Code
.vscode/

# Uploads folder (except the placeholder)
uploads/*
!uploads/.gitkeep

# Environment variables
.env
.env.local

# DS Store
.DS_Store

# Temporary files
tmp/
temp/ 